<h1>Add Plant</h1>

<form [formGroup]="formPlant" (ngSubmit)="onSubmitPlant()" class="mt-4">
  <div class="mb-2">
    <div class="d-flex align-items-center gap-2">
      <label for="name">Name</label>
      <div class="text-danger fst-italic" *ngIf="formPlant.get('name')?.hasError('required')">Required</div>
    </div>
    <input id="name" type="text" class="form-control" formControlName="name">
  </div>

  <div class="mb-2">
    <div class="d-flex align-items-center gap-2">
      <label for="type">Type</label>
      <div class="text-danger fst-italic" *ngIf="formPlant.get('type')?.hasError('required')">Required</div>
    </div>
    <input id="type" type="text" class="form-control" formControlName="type">
  </div>

  <div class="mb-2">
    <div class="d-flex align-items-center gap-2">
      <label for="price">Price</label>
      <div class="text-danger fst-italic" *ngIf="formPlant.get('price')?.hasError('required')">Required</div>
      <div class="text-danger fst-italic" *ngIf="formPlant.get('price')?.hasError('min')">¡Price must be bigger than 0!</div>
    </div>
    <input id="price" type="number" class="form-control" formControlName="price">
  </div>

  <div class="mb-2">
    <div class="d-flex align-items-center gap-2">
      <label for="stock">Stock</label>
      <div class="text-danger fst-italic" *ngIf="formPlant.get('stock')?.hasError('required')">Required</div>
      <div class="text-danger fst-italic" *ngIf="formPlant.get('stock')?.hasError('min')">¡Stock must be 0 or bigger!</div>
    </div>
    <input id="stock" type="number" class="form-control" formControlName="stock">
  </div>

  <div class="form-check mb-2">
    <input id="clearance" type="checkbox" class="form-check-input" formControlName="clearance">
    <label for="clearance" class="form-check-label">Special Offer!</label>
  </div>

  <button class="btn btn-success mt-2" type="submit" [disabled]="formPlant.invalid">Add Plant</button>
</form>
