<h1>Plant List</h1>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @for (plant of plants; track plant.name) {
            <tr [ngClass]="{'clearance': plant.clearance}">
                <td><img width="150" class="img-thumbnail" [src]="plant.image" [alt]="plant.name"></td>
                <td>{{plant.name}}</td>
                <td>{{plant.type}}</td>
                <td>{{plant.price | currency}}</td>
                @if (plant.stock > 0) {
                    <td>{{plant.stock}}</td>
                } @else {
                    <td><span class="badge text-bg-warning">Sold Out</span></td>
                }
            </tr>
        } @empty {
            <tr>
                <td colspan="5">There are no plants to show.</td>
            </tr>
        }
    </tbody>
</table>
