table {
    width: 100%;
}

button {
    background-color: #a31151;
    color: white;
}

button:hover {
    background-color: #a31151;
    color: white;
}

.clearance {
    background-color:  #80cc35;
}