<h1>Plant List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Plant</th>
            <th>Type</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="plant1.image" [alt]="plant1.name"></td>
            <td>{{plant1.type}}</td>
            <td>{{plant1.price}}</td>
            <td>{{plant1.stock}}</td>
        </tr>
        <tr>
            <td>Monstera siltepecana</td>
            <td>Monstera</td>
            <td>$12.99</td>
            <td></td>
        </tr>
        <tr>
            <td>Peperomia albovittata 'Rana Verde'</td>
            <td>Peperomia</td>
            <td>$12.99</td>
            <td></td>
        </tr>
    </tbody>
</table>
